@import "style/normalize.css";
@import "style/font-awesome.css";
body {
  margin: 0px;
  padding: 0px;
  font-family: Sans-Serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  background-color: #ffffff;
}
